body {
    margin:0;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

section {
    height: 100%;

    margin: auto;
}
/*
#sidebar {
    width: 25%;
    height: 100%;
    background-color: #efefef;
    float: left;
}*/

#main {
    height:100%;
    width: 100%;
    display: inline-block;
}