        
location /{{project_name}} {
    alias /home/{{ansible_user}}/projects/{{project_name}}/apps/html; 
}

location /{{project_name}}/v2 {
    alias /home/{{ansible_user}}/projects/{{project_name}}/apps/rapp; 
}